/* --- MAIN BODY & GRID SETTINGS --- */

@font-face {
  font-family: "Typewriter";
  src: url("/assets/fonts/ATypewriterForMe.ttf") format("truetype");
}

@font-face {
  font-family: "Euro Typewriter";
  src: url("/assets/fonts/EuropeanTypewriter.ttf") format("truetype");
}

body {
  background-image: url("/assets/img/cork-board.png");
  font-family: Euro Typewriter, sans-serif;
}
.blog-main-grid {
  display: grid;
  margin-top: 100px;
}

/* --- NAVIGATION SETTINGS --- */
.nav {
  margin: 0 auto;
  width: 70%;
  max-width: 1400px;
}
.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-left: 20px;
}
.nav-li {
  background-color: #d4cea2d8;
  padding: 10px 20px 5px 20px;
  border-radius: 10px 10px 0 0;
  margin-right: 2px;
}
.nav-current {
  background-color: #f7f0bdd5;
}
@media (max-width: 768px) {
  .nav {
    width: 95%;
  }
  .nav-ul {
    margin-left: 5px;
    padding-left: 5px;
  }
}

/* --- MAIN CONTAINER SETTINGS --- */
.main-container {
  background-color: #f7f0bdd5;
  height: auto;
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.315);
}

@media (max-width: 768px) {
  .main-container {
    width: 95%;
  }
}

/* --- HEADER SECTION SETTINGS --- */
.header-section {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: auto;
  width: 90%;
  margin: 0 auto;
  border-radius: 50px 50px 0px 0px;
}

.blog-title-intro {
  margin-top: 20px;
}

.blog-head-title {
  font-size: 48px;
  grid-column: 1;
  grid-row: 1;
}
.blog-head-para1 {
  font-size: 24px;
  grid-row: 2;
}
.blog-head-para2 {
  font-size: 24px;
  grid-row: 3;
  grid-column: 1 / 3;
}

.blog-profile-img {
  margin-top: 5px;
  grid-column: 2;
  grid-row: 1 / 3;
  height: 250px;
  width: auto;
  border: 5px solid white;
  border-top: none;
  transform: rotate(3deg);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.315);
  justify-self: center;
}

@media (max-width: 768px) {
  .header-section {
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(3, auto);
  }
  .blog-head-title {
    font-size: 42px;
  }
  .blog-profile-img {
    height: 150px;
    grid-row: 1;
    grid-column: 2;
  }
  .blog-head-para1 {
    grid-row: 2;
    grid-column: 1/3;
  }
  .blog-head-para2 {
    grid-row: 3;
  }
}

/* --- LATEST SECTION SETTINGS --- */
.blog-latest-title {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 20px;
  font-size: 36px;
}
.posts-img-carousel {
  display: flex;
  list-style: none;
  width: 90%;
  margin: 0 auto;
  height: auto;
  max-height: 400px;
  align-items: center;
  padding: 0;
}
.img-carousel-container {
  display: flex;
  flex-direction: row;
}
.posts-img-carousel li {
  height: 200px;
  width: auto;
  max-height: 315px;
  max-width: 315px;
}
.img-arrow {
  display: flex;
  align-items: center;
}
.posts-img-carousel img {
  max-width: 100%;
  object-fit: cover;
  height: 200px;
  width: auto;
  opacity: 20%;
}
.fas {
  color: grey;
  font-size: 32px;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .posts-img-carousel li i {
    display: none;
  }
}

/* --- FOOTER SETTINGS --- */
.footer-txt {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* --- FOR TESTING PURPOSES --- */
.test-li {
  position: relative;
  color: white;
  font-size: 32px;
  background: linear-gradient(#000000, rgba(255, 255, 255, 0));
}

.test-txt {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 22px;
}

/* ----- BLOG SECTION SETTINGS ----- */
.blog-posts-grid {
  display: flex;
  flex-direction: column;
}
.blog-post-card {
  border-bottom: 2px solid #cec478d5;
  padding: 15px;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: repeat(5, auto);
}
.blog-posts-img-container {
  grid-row: 1 / 6;
  margin: 16px 32px 16px 16px;
  border: 5px solid white;
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}
.blog-posts-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.blog-post-title {
  grid-row: 1;
  grid-column: 2;
  font-size: 28px;
}
.blog-post-author {
  grid-row: 2;
  grid-column: 2;
}
.blog-post-date {
  grid-row: 3;
  grid-column: 2;
}
.blog-post-content {
  grid-row: 4;
  grid-column: 2;
}

@media (max-width: 768px) {
  .blog-post-card {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .blog-post-title {
    color: white;
    font-size: 18px;
    position: absolute;
    margin-top: 8px;
    margin-left: 4px;
  }
  .blog-post-date {
    display: none;
  }
}
