/* --- MAIN BODY & GRID SETTINGS --- */
body {
  background-image: url("/cork-board.png");
}
.blog-main-grid {
  display: grid;
  margin-top: 100px;
}

/* --- NAVIGATION SETTINGS --- */
.nav {
  margin: 0 auto;
  width: 70%;
  max-width: 1400px;
}
.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-left: 20px;
}
.nav-li {
  background-color: cadetblue;
  padding: 10px 20px 5px 20px;
  border-radius: 10px 10px 0 0;
  margin-right: 2px;
}

/* --- MAIN CONTAINER SETTINGS --- */
.main-container {
  background-color: bisque;
  background-image: url("/ricepaper_v3_@2X.png");
  height: 100vh;
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 50px 50px 0px 0px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.315);
}

/* --- HEADER SECTION SETTINGS --- */
.header-section {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: auto;
  width: 90%;
  margin: 0 auto;
  border-radius: 50px 50px 0px 0px;
}
.blog-title-intro {
  grid-column: 1;
  grid-row: 1;
  margin-top: 20px;
  font-size: 28px;
}
.blog-title p {
  font-size: 22px;
}
.img {
  margin-top: 5px;
  grid-column: 2;
  grid-row: 1;
  height: 200px;
  width: auto;
  border: 5px solid white;
  transform: rotate(3deg);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.315);
  justify-self: center;
}
.para {
  grid-column: 1 / 3;
  grid-row: 2;
  max-width: 95%;
  font-size: 22px;
}

/* --- LATEST SECTION SETTINGS --- */
.latest-section h3 {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 20px;
  font-size: 24px;
}
.posts-img-carousel {
  display: flex;
  list-style: none;
  width: 90%;
  margin: 0 auto;
}
.posts-img-carousel li {
  height: 40vh;
  width: auto;
}
.posts-img-carousel img {
  max-width: 100%;
}
