/* --- MAIN BODY & GRID SETTINGS --- */

body {
  background-image: url("/assets/img/cork-board_v3.jpg");
  /* Background pattern from Toptal Subtle Patterns */
  font-family: "Glegoo", sans-serif;
}
.blog-main-grid {
  display: grid;
  margin-top: 50px;
}

/* --- NAVIGATION SETTINGS --- */
.nav {
  margin: 0 auto;
  width: 70%;
  max-width: 1400px;
}
.nav a {
  font-family: "Glegoo", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.nav-li {
  background-color: #d4cea2d8;
  padding: 10px 30px 5px 30px;
  border-radius: 10px 10px 0 0;
  margin-right: 2px;
}
.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-left: 20px;
}
.nav-current {
  background-color: #f7f0bdd5;
  font-size: 18px;
}

@media (max-width: 768px) {
  .nav {
    margin-left: 20px;
  }
  .nav-ul {
    margin-left: 0;
    padding-left: 5px;
    font-size: 14px;
  }
  .nav-li {
    padding: 5px 10px 2.5px 10px;
  }
}
@media (max-width: 368px) {
  .nav {
    margin-left: 10px;
  }
  .nav-ul {
    margin-left: 0;
    padding-left: 2px;
    font-size: 12px;
  }
  .nav-li {
    padding: 5px 5px 2.5px 5px;
  }
}

/* --- MAIN CONTAINER SETTINGS --- */

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #f7f0bdd5;
  height: auto;
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.315);
  opacity: 1;
  min-height: 80vh;
}

@media (max-width: 768px) {
  .main-container {
    width: 95%;
  }
}

/* --- HEADER SECTION SETTINGS --- */
.header-section {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: repeat(2, auto);
  height: auto;
  width: 90%;
  margin: 0 auto;
  border-radius: 50px 50px 0px 0px;
}

.blog-title-intro {
  margin-top: 20px;
}

.blog-head-title {
  font-size: 48px;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 20px;
}
.blog-head-para1 {
  font-size: 16px;
  grid-row: 2;
}
.blog-head-para2 {
  font-size: 16px;
  grid-row: 3;
  grid-column: 1 / 3;
  margin-top: 25px;
}

.blog-profile-img {
  margin-top: 5px;
  grid-column: 2;
  grid-row: 1 / 3;
  height: 300px;
  width: 200px;
  border: 5px solid white;
  transform: rotate(3deg);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.315);
  justify-self: center;
  z-index: 2;
}

@media (max-width: 768px) {
  .header-section {
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(3, auto);
  }
  .blog-head-title {
    font-size: 36px;
  }
  .blog-profile-img {
    width: 100px;
    height: 150px;
    grid-row: 1;
    grid-column: 2;
  }
  .blog-head-para1 {
    grid-row: 2;
    grid-column: 1/3;
  }
  .blog-head-para2 {
    grid-row: 3;
  }
  .blog-latest-title {
    font-size: 32px;
  }
}
.blog-classified-img {
  width: 55%;
  height: auto;
  position: absolute;
  opacity: 0.1;
  left: 22.5%;
  top: 500px;
  max-width: 1400px;
}
@media (max-width: 768px) {
  .blog-classified-img {
    width: 75%;
    left: 10%;
  }
}
@media (min-width: 2560px) {
  .blog-classified-img {
    display: none;
  }
}

/* --- LATEST SECTION SETTINGS --- */
.latest-section {
  margin-top: 50px;
}
.blog-latest-title {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 36px;
  font-size: 36px;
}
.posts-img-carousel {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: auto;
  max-height: 400px;
  align-items: center;
  padding: 0;
}
.img-carousel-container1,
.img-carousel-container2 {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0px;
}
.latest-blog-item {
  position: relative;
  color: white;
  font-size: 32px;
  height: auto;
  max-height: 200px;
  z-index: 1;
  border: 1px solid #000;
}

.latest-blog-title {
  position: absolute;
  color: white;
  bottom: 0px;
  text-align: start;
  font-size: 18px;
  padding: 2px;
  z-index: 3;
}

.latest-blog-overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.latest-blog-overlay:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.25), black);
}
.img-arrow {
  display: flex;
  align-items: center;
  color: grey;
  font-size: 32px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.latest-blog-img {
  height: 200px;
  width: 315px;
  max-width: 100%;
  object-fit: cover;
}

.slide-arrows-small {
  display: none;
}

@media (max-width: 900px) {
  .latest-blog-title {
    font-size: 14px;
    left: 0px;
    margin-right: 5px;
  }

  .img-arrow {
    display: none;
  }
  .slide-arrows-small {
    display: flex;
    justify-content: space-evenly;
    font-size: 32px;
    color: grey;
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .latest-blog-title {
    font-size: 12px;
    left: 0px;
    margin-right: 5px;
  }
  .latest-blog-item {
    border: 1px solid #000;
  }
}

@media (max-width: 400px) {
  .latest-blog-title {
    font-size: 10px;
    left: 0px;
    margin-right: 5px;
  }
}

/* --- FOOTER SETTINGS --- */

.blog-footer {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: auto auto;
  width: 90%;
  margin: 50px auto;
  border-top: 1px solid #cec478d5;
  margin-top: 200px;
  padding-top: 25px;
}
.blog-footer-news {
  grid-row: 1;
  grid-column: 1;
  margin-right: 25px;
  margin-left: 5%;
}
.footer-news-head,
.footer-author-head {
  font-size: 14px;
}
.footer-news-text {
  font-size: 12px;
}
.footer-news-input {
  margin-top: 10px;
  max-width: 200px;
  width: 100%;
}
.footer-news-btn {
  align-self: center;
  margin-top: 10px;
  background-color: rgb(255, 208, 121);
  max-width: 100px;
  width: 100%;
  text-decoration: none;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.footer-news-success {
  margin-left: 15px;
  font-style: italic;
  font-size: 12px;
  margin-top: 15px;
}
.blog-footer-author {
  grid-column: 2;
  grid-row: 1;
  margin-left: 25px;
  margin-right: 5%;
}
.footer-author-text {
  font-size: 12px;
}
.blog-footer-end {
  grid-column: 1/ 3;
  grid-row: 2;
  font-size: 12px;
  justify-self: center;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .blog-footer {
    margin-top: 100px;
  }
}
@media (max-width: 400px) {
  .blog-footer {
    grid-template-rows: auto auto auto;
  }
  .blog-footer-author {
    grid-column: 1 /3;
    grid-row: 1;
    margin-left: 5%;
    margin-right: 5%;
  }
  .blog-footer-news {
    grid-column: 1/3;
    grid-row: 2;
  }
  .blog-footer-end {
    grid-row: 3;
  }
}

/* ----- BLOG SECTION SETTINGS ----- */
.blog-posts-grid {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}
.blog-error-msg {
  color: rgb(150, 0, 0);
  margin: 40px auto;
}

.blog-no-results {
  margin: 40px auto;
}

.blog-posts-header {
  margin-left: 64px;
  margin-top: 60px;
  font-size: 48px;
}

#blog-search {
  padding: 5px;
  border: none;
  border-bottom: 1px solid black;
}
.blog-search-container {
  display: grid;
  grid-template-columns: 300px 100px 100px;
  grid-template-rows: 1fr;
  margin: 20px 48px 20px 64px;
  gap: 10px;
}
.blog-search-label {
  display: flex;
  flex-direction: column;
}
.blog-search-btn {
  grid-row: 1;
  grid-column: 2;
  align-self: end;
  background-color: #f1bb4e;
  border: none;
  padding: 5px;
  border-bottom: 1px solid black;
  border-radius: 5px 5px 0 0;
  height: 25px;
  width: 100px;
  cursor: pointer;
}
.blog-clear-btn {
  grid-row: 1;
  grid-column: 3;
  align-self: end;
  background-color: #f1bb4ea4;
  border: none;
  padding: 5px;
  border-bottom: 1px solid black;
  border-radius: 5px 5px 0 0;
  height: 25px;
  width: 100px;
  cursor: pointer;
}
.blog-posts-loader {
  margin: 20px auto;
}
.blog-post-card {
  border-bottom: 2px solid #cec478d5;
  padding: 24px 48px;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: repeat(5, auto);
}
.blog-post-title-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.blog-posts-img-container {
  grid-row: 1 / 6;
  margin: 16px 32px 16px 16px;
  border: 5px solid white;
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}
.blog-posts-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.blog-posts-title {
  font-size: 24px;
  font-weight: bolder;
}

.blog-posts-date {
  font-size: 14px;
  font-style: italic;
}
.blog-post-back {
  padding: 3px 5px;
  background-color: rgb(255, 208, 121);
  text-decoration: none;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 10px 10px 0 0;
  margin-left: 5%;
  font-size: 12px;
}

.blog-posts-content {
  font-size: 16px;
}

.blog-post-header-img {
  display: flex;
  height: 250px;
  margin-top: 40px;
  justify-content: center;
  margin: 40px 20px 20px 20px;
}
.blog-post-img {
  width: 600px;
  object-fit: cover;
  height: 100%;
  cursor: pointer;
  border: 5px solid white;
}
.blog-post-title {
  grid-row: 1;
  grid-column: 2;
  font-size: 28px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 40px;
}
.blog-post-author {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
}
.blog-post-date {
  grid-row: 3;
  grid-column: 2;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 40px;
}
.blog-post-content {
  grid-row: 4;
  grid-column: 2;
  width: 90%;
  margin: 0 auto;
}

.blog-post-explore-link {
  align-self: center;
  padding: 3px;
  background-color: rgb(255, 208, 121);
  width: 200px;
  text-decoration: none;
  text-align: center;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 10px 10px 0 0;
}
.load-more-btn {
  align-self: center;
  padding: 3px;
  background-color: rgb(255, 208, 121);
  width: 200px;
  text-decoration: none;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 10px 10px 0 0;
}

@media (max-width: 768px) {
  .blog-posts-header {
    font-size: 36px;
    margin: 50px auto 10px auto;
  }
  .blog-search-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 20px auto;
  }
  .blog-post-img {
    width: 200px;
  }
  .blog-search-label {
    grid-row: 1;
    grid-column: 1 / 3;
  }
  #blog-search {
    width: auto;
  }
  .blog-search-btn {
    grid-row: 2;
    grid-column: 1;
    margin-top: 20px;
    width: 120px;
    margin-right: 10px;
  }
  .blog-clear-btn {
    grid-row: 2;
    grid-column: 2;
    margin-top: 20px;
    width: 120px;
    justify-self: flex-end;
  }
  .blog-post-card {
    display: flex;
    flex-direction: column;
  }
  .blog-posts-img-container {
    align-self: center;
    margin: 0;
    margin-bottom: 20px;
  }
  .blog-post-header-img {
    height: 150px;
    width: 90%;
    max-width: 350px;
    margin: 20px auto;
  }
  .blog-post-title-link {
    align-self: center;
  }
  .blog-posts-date {
    align-self: center;
  }
  .blog-post-content {
    font-size: 14px;
  }
}
@media (max-width: 368px) {
  .blog-posts-header {
    font-size: 30px;
    margin: 50px auto 10px auto;
  }
  .blog-posts-title {
    font-size: 20px;
  }
  .blog-posts-content {
    font-size: 12px;
  }
  .blog-post-explore-link {
    font-size: 14px;
  }
}

/* --- BLOG POST MODAL --- */
.blog-post-modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.75);
}
.blog-post-modal-txt {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 12px;
}
.blog-post-modal-img {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 800px;
}

@media (max-width: 768px) {
  .blog-post-modal-img {
    width: 95%;
  }
}
/* ----- BLOG COMMENTS SECTION ----- */

.blog-post-comments {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.blog-comments-grid {
  width: 90%;
  margin: 0 auto;
}
.comments-title {
  margin-top: 0;
  margin-bottom: 40px;
}

.blog-comment-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 48px 0.4fr auto;
  grid-template-rows: 48px auto;
  margin-bottom: 40px;
}

.blog-comment-avatar {
  grid-row: 1 / 2;
  grid-column: 1;
}
.blog-comment-avatar-img {
  max-width: 100%;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.blog-comment-author {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  padding-left: 10px;
  font-weight: bold;
  background-color: white;
  opacity: 0.8;
}

.blog-comment-date {
  grid-row: 1;
  grid-column: 3;
  align-self: center;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  font-style: italic;
  font-size: 14px;
  padding-top: 1px;
  padding-bottom: 2px;
  background-color: white;
  opacity: 0.8;
}

.blog-comment-content {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 2px 10px 2px rgba(128, 128, 128, 0.5);
  font-size: 14px;
  margin-top: 10px;
  background-color: white;
  opacity: 0.8;
}
.new-comment-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
#commentName {
  width: 200px;
  height: 20px;
  margin-top: 20px;
  opacity: 0.8;
}
#commentEmail {
  width: 200px;
  height: 20px;
  margin-top: 10px;
  opacity: 0.8;
}
#comment {
  height: 100px;
  margin-top: 10px;
  opacity: 0.8;
  margin-left: 0px;
}
#postComment {
  align-self: center;
  cursor: pointer;
  padding: 3px;
  background-color: rgb(255, 208, 121);
  width: 200px;
  text-decoration: none;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 10px 10px 0 0;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .blog-comment-container {
    border-bottom: 1px solid #cec478d5;
    margin-bottom: 10px;
    padding: 5px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .blog-comment-avatar {
    margin-right: 5px;
  }
  .blog-comment-author {
    grid-row: 1;
    grid-column: 2 / 4;
    border: none;
  }

  .blog-comment-date {
    font-size: 12px;
    grid-row: 2;
    grid-column: 2 / 4;
    margin-bottom: 10px;
    margin-top: 0px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid grey;
    width: 75%;
  }
  .blog-comment-content {
    grid-row: 3;
    box-shadow: none;
  }
  #postComment {
    width: 50%;
  }
}
/* ----- CONTACT SECTION SETTINGS ----- */

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form-title {
  margin-top: 60px;
  font-size: 48px;
}

#blog-contact {
  width: 300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 410px;
}

.blog-contact-label {
  display: flex;
  flex-direction: column;
}

#contactName,
#contactEmail,
#contactSubject {
  height: 20px;
}
#contactMessage {
  height: 100px;
}

#validation-check {
  display: none;
}
.form-error {
  display: block;
  color: red;
  height: 32px;
  font-size: 12px;
}
#blog-contact-submit {
  align-self: center;
  padding: 3px;
  margin-top: 25px;
  background-color: rgb(255, 208, 121);
  width: 200px;
  text-decoration: none;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

#form-success-check {
  display: none;
  font-size: 36px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .contact-form-title {
    font-size: 36px;
    margin-top: 50px;
  }
}
@media (max-width: 368px) {
  #blog-contact {
    width: 250px;
  }
  .form-error {
    font-size: 12px;
  }
}

/* ----- ABOUT SECTION ----- */

.about-page-container {
  width: 90%;
  margin: 0 auto;
}

.about-title {
  margin-top: 60px;
  font-size: 48px;
  margin-bottom: 20px;
}

.about-header {
  display: flex;
  height: 400px;
  width: 80%;
  margin: 50px auto;
}

.about-header-img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  height: auto;
  border: 5px solid white;
}
@media (max-width: 768px) {
  .about-title {
    font-size: 36px;
    margin-top: 50px;
    text-align: center;
  }
  .about-text-1,
  .about-text-2,
  .about-text-3,
  .about-text-4 {
    font-size: 14px;
  }
}
@media (max-width: 368px) {
  .about-title {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
  }
}
